<div class = "container">
หาผลคูณ
<div class = "row">
  <div class = "col-5">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">คำที่ 1</span>
    </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
    [(ngModel)]="request.key1">
  </div>
</div>
<div class = "col-5">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">คำที่ 2</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
      [(ngModel)]="request.key2">
    </div>
  </div>
  <div class="col-2">
  <button type="button" class="btn btn-success"(click)="getData()">คำนวณ</button>  
  </div> 
</div>
<div>
  <span class="badge badge-danger">ผลลัพธ์</span>     
{{result.sum}}    
</div>                                         