<div class = "container">
หาผลคูณ
<div class = "row">
  <div class = "col-5">
    <div class="input-group input-group-sm">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">คำที่ 1</span>
    </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
    [(ngModel)]="request.key1">
  </div>
</div>
<div class = "col-5">
  <div class="input-group input-group-sm">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">คำที่ 2</span>
    </div>
    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
      [(ngModel)]="request.key2">
    </div>
  </div>
  <div class="col-2">
  <button type="button" class="btn btn-success"(click)="getData()">คำนวณ</button>  
  </div> 
</div>
<div>
  <span class="badge badge-danger">ผลลัพธ์</span>     
{{result}}    
</div>
<hr>
<div class = "container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let n of noteDetail">{{n.name}}
          <button style="float:right;"
          class="btn btn-sm btn-primary"
          (click)="selectNote(n.list)">ดูรายละเอียด</button>
          <button style="float:right;"
          class="btn btn-sm btn-warning"
          (click)="selectNote(n.list)">แก้ไขชื่อ</button>
        </li>
      
        <li class="list-group-item bg-warning">แก้ไขชื่อ note {{ediNoteDetail.note_id}}
          <input class="form-control"
          name="noteName"
          [(ngModel)]="editNoteDetail.name">
          <button style="float:right;"
          class="btn btn-info btn-sm">แก้ไขชื่อ</button>
       </li> 
        
      </ul>
    <div class = "row">
        <div class = "col-5">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">รหัสนิสิต</span>
          </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
          [(ngModel)]="userDetail.id">
        </div>
      </div>
      <div class = "col-5">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">ชื่อนิสิต</span>
          </div>
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
            [(ngModel)]="userDetail.name">
          </div>
        </div>
       </div>
      <div>
        <hr>  
        <ul class="list-group">
              <li class="list-group-item" *ngFor="let n of noteDetail">{{n.name}}
                <button style="float:right;"
                class="btn btn-sm btn-primary"
                (click)="selectNote(n.list)">ดูรายละเอียด</button>
                <button style="float:right;"
                class="btn btn-sm btn-warning"
                (click)="selectNote(n.list)">แก้ไข</button>
              </li>
            </ul>
            <hr>
            <h4>รายละเอียด Note</h4>
            <table class="table">
                <thead>
                  <tr>
                    <th>Priority</th>
                    <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let list of listDetail"
                  [ngClass]="{'bg-danger text-wgite': list.priority>5,
                              'bg-info':list.priority<5}" >
                     <td>{{list.priority}}</td>
                    <td>{{list.detail}}</td>   
                  </tr>
                </tbody>
              </table>        
</div>                                         